site_name: Open Chat Studio Documentation
site_url: https://docs.openchatstudio.com
repo_url: https://github.com/dimagi/open-chat-studio
theme:
  name: material
  features:
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
copyright: Copyright &copy; 2024 Dimagi

extra_css:
  - assets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
- search
- mkdocstrings:
    enabled: true
    default_handler: python
    handlers:
      python:
        options:
          paths: [src]
          heading_level: 3
          show_root_full_path: false
          show_root_heading: true
          show_signature: true
          show_signature_annotations: true
          show_source: false
          show_symbol_type_heading: true

nav:
  - Home: index.md
  - How-to Guides:
      - how-to/index.md
      - how-to/add_a_knowledge_base.md
      - how-to/remote_api.md
      - how-to/global_search.md
      - how-to/deploy_to_different_channels.md
      - how-to/configure_providers.md
      - how-to/api_access.md
      - how-to/setting_up_a_survey.md
      - how-to/embed.md
  - Concepts:
      - concepts/index.md
      - Experiments:
        - concepts/experiment/index.md
        - concepts/sessions.md
        - concepts/llm.md
        - concepts/participant_data.md
        - concepts/prompt_variables.md
        - concepts/source_material.md
        - concepts/versioning.md
        - concepts/custom_actions.md
        - concepts/consent.md
        - concepts/channels.md
        - concepts/events.md
      - Pipelines:
        - concepts/pipelines/index.md
        - concepts/pipelines/nodes.md
        - concepts/pipelines/history.md
      - Team:
          - concepts/team/index.md
          - concepts/authentication-providers.md
          - concepts/messaging_providers.md
      - Assistants:
          - concepts/assistants.md
  - Changelog: changelog.md
  - About: about.md

watch:
- python_node

extra_javascript:
  - path: https://unpkg.com/open-chat-studio-widget@0.2.0/dist/open-chat-studio-widget/open-chat-studio-widget.esm.js
    type: module
    async: true
